{% extends 'news/default.html' %}
{% load my_filters %}

{% block title %}
Search
{% endblock %}


{%block content %}
<form method="GET">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                {{ filter.form }}
            </div>
        </div>
        <input type="submit" value="Найти" class="btn btn-primary">

    </div>
<br>
</form>
{% for news in filter.qs %}
<div class="card text-center">
  <div class="card-header">
      <h5>{{ news.header|censor }}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">{{ news.text_content|truncatechars:50|censor }}</p>
    <a href="{{ single_news.get_absolute_url }}" class="btn btn-primary">Открыть новость</a>
  </div>
  <div class="card-footer text-muted">
      {{ news.date_of_creation|date:'d M Y'}}
  </div>
</div>
<br>
{% endfor %}

{% endblock %}