.btn{
	padding: 10px;
	background-color: #0fbf62;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.inp{
	font-size: 12px;
	font-weight: 600;
	padding: 10px;
	border-radius: 5px;
}
.output{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 900px;
}
.card-board{
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-top: 15px;
	width: 250px;
}
.card{
	width: 250px;
	height: 250px;
}