@font-face{
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
	font-weight: 400;
}
@font-face{
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-SemiBold");
	font-weight: 600px;
}
@font-face{
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
	font-weight: 700;
}
@font-face{
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-ExtraBold.ttf") format('truetype');
	font-weight: 800;
}
@font-face{
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

body {
    margin: 0 auto;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}

/* navigation */

header{
	background-color: #f6f2f2;
}
.menu{
	background-color: #000000;
	opacity: 0.8;
	min-height: 89px;
	max-width: 1249px;
	margin: 0 auto;
}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	padding-right: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.menu a{
	text-transform: uppercase;
	text-decoration: none;
	color: #e0e0e0;
	font-size: 14px;
	height: 49px;
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.menu a:hover{
	background-color: #ff3f40;
}

/* intro section */

.intro-wrapper{
	background-color: #f6f2f2;
}
.intro{
	max-width: 1287px;
	display: flex;
	margin: 0 auto;
	padding: 0 45px;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 120px;
}

.left-intro{
	max-width: 600px;
	margin: 0;
}
.left-intro h1{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 800;
	font-size: 60px;
	text-transform: uppercase;
	margin-top: 82px;
	line-height: 1.3;
	margin-bottom: 0px;
}
.left-intro p{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	max-width: 550px;
	line-height: 165%;
}
.contact-link{
	width: 227px;
	height: 55px;
	background-color: #ff2d2d;
	color: white;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 65px;
	margin-left: 5px;
	border-radius: 5px;
}
.right-intro{
	margin-top: 100px;
	max-width: 600px;
}

.right-intro img{
	max-width: 550px;
	max-height: 400px;
}

/* services-part */

.services{
	max-width: 1290px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 61px;
	justify-content: space-between;
	padding-bottom: 156px;
	box-sizing: border-box;
}

.left-services{
	max-width: 550px;
	padding-left: 22px;
}
.left-services h2{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
	margin-top: 32px;
	margin-bottom: 26px;
}
.left-services p{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 171%;
}
.learn-link{
	margin-top: 72px;
	color: #ff0000;
	border: #ff0000;
	border-style: solid;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;
	width: 220px;
	text-align: center;
	padding: 12px 0;
	display: inline-block;
	border-radius: 5px;
}
.right-services{
	max-width: 650px;
	margin-right: -18px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}
.service-items-manag, .service-items_ui,
.service-items_logo, .service-items_animat{
	flex: 1 1 290px;
	margin-top: 35px;
	margin-bottom: -10px;
	position: relative;
}
.h4_class{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 24px;
	margin-top: 68px;
	margin-bottom: 0;
}
.p_class{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	width: 85%;
	margin-top: 7px;
	line-height: 171%
}
.service-items-manag::before, 
.service-items_ui::before,
.service-items_logo::before,
.service-items_animat::before{
	width: 32px;
	height: 32px;
	position: absolute;
}
.service-items-manag::before{
	content: url('../img/Gear.svg');
}
.service-items_ui::before{
	content: url('../img/Pencil.svg');
}
.service-items_logo::before{
	content: url('../img/Diamond.svg');
}
.service-items_animat::before{
	content: url('../img/Van.svg');
}


/*Feature part*/
.feature{
	max-width: 1280px;
	text-align: center;
	margin: 39px auto 0 auto;
}
.feature h2{
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 16px;
	margin-left: 20px;
}
.feature p{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	max-width: 500px;
	font-weight: 400;
	font-size: 16px;
	margin: 0 auto;
	line-height: 150%;
}
.red-line-wrapper{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	margin-left: 25px;
}
.red-line{
	color: #ff0000;
	width: 134px;
	margin-left: 0;
	margin-right: 0; 
}
.options{
	margin: 77px auto;
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	max-width: 920px;
}
.options li{
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 22px;
}
.options li:first-of-type a{
	color: #ff2d2d;
}
.options a{
	text-decoration: none;
	color: #000000;
}
.options a:hover{
	color: #ff2d2d;
}
.picture-block{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-between;
}
.picture-block img{
	margin-bottom: 20px;
	flex: 1 1 21%;
	padding-left: 6px;
	padding-right: 7px;
}
/* team */
.team{
	max-width: 1260px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 8px;
	justify-content: space-between;
}
.team-info{
	width: 100%;
	margin-bottom: 64px;
}
.team-info h2{
	margin-top: 80px;
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 20px;
}
.team-info p{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	max-width: 500px;
	line-height: 170%;
}
.red-line-wrapper2{
	margin-top: 60px;
	margin-left: 10px;
}
.team-right{
	max-width: 860px;
}
.team-right h3{
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
	margin-top: 5px;
	font-size: 30px;
	margin-bottom: 14px;
}
.team-right p{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	max-width: 90%;
	margin-bottom: 40px;
	line-height: 170%;
	width: 80%;
}
.social-links{
	list-style: none;
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	padding-left: 5px;
	margin-bottom: 60px;
}
.social-links li{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
}
.social-links a{
	text-decoration: none;
	color: black;
}
.worker-photos{
	max-width: 850px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.worker-photo{
	position: relative;
	z-index: 2;
	
}
.worker-photo img{
	max-width: 100%;
}
.worker-name{
	position: absolute;
	background-color: black;
	opacity: 0.5;
	height: 37px;
	color: white;
	left: 0;
	right: 0;
	text-align: center;
	display: inline-block;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 18px;
	top: 176px;
	text-transform: uppercase;
	z-index: -1;
}
.worker-photo:hover .worker-name{
	z-index: 1;
}
/* Design part */
.design{
	margin-top: 110px;
	background-color: #2c2c2c;
	box-sizing: border-box;
	padding-top: 105px;
	padding-bottom: 140px;
}
.design h2{
	text-align: center;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 18px;
	color: #ffffff;
}
.design p{
	text-align: center;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
}
.subscribe-group{
	display: flex;
	justify-content: center;
	margin-top: 55px;
}
.email-field{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	min-height: 76px;
	padding-left: 38px;
	width: 486px;
	margin-right: 15px;
	border-radius: 10px;
}
.subscribe-button{
	background-color: #ff2d2d;
	width: 217px;
	min-height: 76px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #ffffff;
	border-style: none;
	border-radius: 10px;
}

/* touch-part */

.connect-with-us{
	margin-top: 52px;
	max-width: 1300px;
	margin-left: auto;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}
.touch-it{
	margin-bottom: 66px;

}
.touch-it h2{
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 28px;
	margin-top: 39px;
}
.touch-it p{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	max-width: 800px;
	line-height: 170%;
}
.red-line-wrapper3{
	margin-left: 0;
	margin-top: 55px;
}
.connect-left{
	width: 734px;

}
.connect-personal{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.name-field, .email-field2, 
.your-message, .send-message{
	box-sizing: border-box;
	border-radius: 10px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	border: none;
	display: flex;
	flex-wrap: wrap;

}
.name-field{
	display: flex;
	font-size: 18px;
	min-height: 71px;
	width: 342px;
	background-color: #e5e5e5;
	vertical-align: middle;
	padding-left: 53px;
	align-items: center;
}
.email-field2{
	display: flex;
	font-size: 16px;
	min-height: 71px;
	width: 342px;
	border-radius: 10px;
	background-color: #e5e5e5;
	vertical-align: middle;
	padding-left: 53px;
	align-items: center;
}
.your-message{
	margin-top: 43px;
	padding-top: 32px;
	display: flex;
	font-size: 16px;
	min-height: 252px;
	background-color: #e5e5e5;
	padding-left: 50px;
	width: 100%;
}
.send-message{
	width: 100%;
	margin-top: 43px;
	display: flex;
	font-weight: 700;
	font-size: 18px;
	align-items: center;
	justify-content: center;
	min-height: 75px;
	border-radius: 10px;
	background-color: #ff3b3b;
	text-transform: uppercase;
	color: white;
}
.connect-right{
	width: 461px;
	background-color: #2d2d2d;
	box-sizing: border-box;
}
.contact-info{
	flex-direction: column;
	justify-content: space-between;
	max-width: 315px;
	margin-top: 141px;
	margin-left: 79px;
	min-height: 200px;
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
}
.contact-info > h4, .contact-info > p{

	color: white;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin-top: 12px;
}
.contact-info > h4{
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
}
footer {
	margin-top: 110px;
	background-color: #313030;
	flex: 0 0 auto;
	padding: 0 50px;
}
.footer-content{
	padding-top: 55px;
	padding-bottom: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-text p{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #b8b8b8;
	font-size: 16px;
	margin-top: 0;
}
.footer-social img{
	width: 32px;
	height: 32px;
	padding-right: 16px;
}
/* respo */
@media screen and (max-width: 1320px){
	.connect-with-us{
		margin-left: 20px;
	}

@media screen and (max-width: 1250px){
	.intro{
		justify-content: space-around;
		margin-left: 0;
		margin-right: 0;
	}
	.left-intro{
		width: 45%;
	}
	.right-intro{
		width: 45%;
	}
	.left-intro h1{
		font-size: 40px;
	}
	.left-intro p{
		font-size: 16px;
	}
	.right-intro img{
		max-width: 45vw;
	}
	.services{
		padding-bottom: 50px;
	}
	.left-services h2{
		font-size: 35px;
	}
	.left-services{
		max-width: 45%;
	}
	.right-services{
		max-width: 45%;
	}
	.options{
		max-width: 700px;
	}
	.options a{
		padding: 0 30px 30px 0;
	}
	.picture-block img{
		max-height: 350px;
	}
	.team{
		margin-left: 10px;}
	.team-right{
		max-width: 60%;
	}
	.worker-photos{
		justify-content: flex-start;
	}
	.worker-photo{
		margin-right: 40px;
	}
	.leader-photo{
		margin-right: 10px;
	}
	.connect-with-us, .connect-right, .connect-left{
		width: 100vw;
	}
	.touch-it, .connect-personal
	{
		margin-left: auto;
		margin-right: auto;
		width: 65%;
	}
	.name-field, .email-field2, .your-message{
		margin-top: 15px;
	}
	.name-field, .email-field2{
		flex: 1 1 40%;
	}
	.name-field{
		margin-right: 20px;
	}
	.connect-right{
		background-color: #313030;
	}
	.send-message{
		margin-bottom: 20px;
	}
	.connect-with-us{
		margin-left: 0;
	}
	footer{
		margin-top: 0;
	}

	{

}
@media screen and (max-width: 950px){

	.touch-it, .connect-personal{
		width: 85%;
	}

}

@media screen and (max-width: 850px){

	.team-right{
		max-width: 95%;
	}
}
@media screen and (max-width: 800px){
	.intro{
		justify-content: center;
		padding: 0 20px;
		padding-bottom: 30px;
	}
	.left-intro{
		width: 90%;
	}
	.right-intro{
		width: 90%;
	}
	.right-intro img{
		max-width: 80vw;
	}
	.services{
		margin-top: 30px;
	}
	.left-services{
		max-width: 90%;
	}
	.left-services h2{
		text-align: center;
	}
	.right-services{
		max-width: 95%;
		margin-left: auto;
	}
	.services{
		padding-bottom: 20px;
	}
	.service-items-manag, .service-items_ui,
	.service-items_logo, .service-items_animat{
		width: 95%;
	}
	.learn-link{
		margin-top: 30px;
	}
	.options{
		display: block;
		margin-top: 35px;
	}
	.subscribe-group{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: 10px;
	}
	.email-field{
		width: 95%;
		box-sizing: border-box;
		margin-right: 0;
	}
	.subscribe-button{
		box-sizing: border-box;
		margin-top: 15px;
		width: 95%;
	}
}

@media screen and (max-width: 650px){
	.picture-block img{
		width: 47%;
	}
	.name-field{
		margin-right: 0;
	}
	.name-field, .email-field2{
		flex: 1 1 100%;
	}
}

@media screen and (max-width: 550px){
	.picture-block{
		display: block;
	}
	.picture-block img{
		width: 80vw;
		max-height: 350px;
	}
	.worker-photos{
		justify-content: space-between;
	}
	.worker-photo{
		margin-right: 40px;
	}
	